<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <form action="send_image" method="POST" enctype="multipart/form-data" class="flex flex-col w-[50%] m-auto my-5 bg-blue-100 items-center gap-y-3 p-2 max-h-screen">
        <div class="text-right flex gap-x-5">
            <label for="img">Upload a image</label>
            <input type="file" name="image" id="image_input" required>
        </div>
        <div class="h-full overflow-auto">
            <img alt="preview" id="image_preview" class="hidden max-w-full max-h-full">
        </div>
        <button type="submit" class="rounded bg-green-300 px-4 p-2 w-fit">Submit</button>
    </form>
</body>
<script>
    image_input = document.getElementById("image_input");
    image_preview = document.getElementById("image_preview");

    image_input.addEventListener("change", ()=>{
        const file = image_input.files[0];
        if(file) {
            const reader = new FileReader()
            reader.onload = (e)=>{
                image_preview.src = e.target.result;
            }
            reader.readAsDataURL(file)
            image_preview.classList.replace("hidden", "block")
        }
        else {
            image_preview.classList.replace("block", "hidden")
        }
    })
</script>
</html>